automations/n8n/WF-00_아르코_오케스트라.json
{
  "name": "WF-00 아르코 오케스트라",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ons-start",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "projectName", "value": "={{ $json.body.projectName }}" },
            { "name": "projectType", "value": "={{ $json.body.projectType || 'playlist' }}" },
            { "name": "goal", "value": "={{ $json.body.goal }}" },
            { "name": "mode", "value": "={{ $json.body.mode || 'pipeline' }}" }
          ]
        },
        "options": {}
      },
      "id": "set-input",
      "name": "Set Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [440, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            {
              "id": "mode-check",
              "leftValue": "={{ $json.mode }}",
              "rightValue": "pipeline",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "mode-switch",
      "name": "Pipeline Mode?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/pipeline",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ projectName: $('Set Input').item.json.projectName, projectType: $('Set Input').item.json.projectType, goal: $('Set Input').item.json.goal }) }}"
      },
      "id": "pipeline-call",
      "name": "Pipeline (All-in-One)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/execute",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ projectId: 'auto', projectName: $('Set Input').item.json.projectName, projectType: $('Set Input').item.json.projectType, taskType: 'orchestrate', instruction: $('Set Input').item.json.goal }) }}"
      },
      "id": "seo-orchestrate",
      "name": "서 본부장 (오케)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/execute",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ projectId: 'auto', projectName: $('Set Input').item.json.projectName, projectType: $('Set Input').item.json.projectType, taskType: 'analyze', instruction: $('Set Input').item.json.goal }) }}"
      },
      "id": "baek-analyze",
      "name": "백박사 (분석)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/execute",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ projectId: 'auto', projectName: $('Set Input').item.json.projectName, projectType: $('Set Input').item.json.projectType, taskType: 'plan', instruction: $('Set Input').item.json.goal, context: { analysis: $json.output } }) }}"
      },
      "id": "ahn-plan",
      "name": "안수석 (기획)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/execute",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ projectId: 'auto', projectName: $('Set Input').item.json.projectName, projectType: $('Set Input').item.json.projectType, taskType: 'write', instruction: $('Set Input').item.json.goal, context: { analysis: $('백박사 (분석)').item.json.output, plan: $json.output } }) }}"
      },
      "id": "han-write",
      "name": "한강작가 (창작)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/execute",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ projectId: 'auto', projectName: $('Set Input').item.json.projectName, projectType: $('Set Input').item.json.projectType, taskType: 'review', instruction: '창작물 품질 검수', context: { analysis: $('백박사 (분석)').item.json.output, plan: $('안수석 (기획)').item.json.output, creation: $json.output } }) }}"
      },
      "id": "seo-review",
      "name": "서 본부장 (검수)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 420]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            {
              "id": "score-check",
              "leftValue": "={{ $json.output.score }}",
              "rightValue": 75,
              "operator": { "type": "number", "operation": "gte" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "score-check",
      "name": "Score >= 75?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2000, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/execute",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ projectId: 'auto', projectName: $('Set Input').item.json.projectName, projectType: $('Set Input').item.json.projectType, taskType: 'record', instruction: '결과 저장', context: { ...($('한강작가 (창작)').item.json.output?.data || {}), score: $('서 본부장 (검수)').item.json.output?.score } }) }}"
      },
      "id": "hong-record",
      "name": "홍사서 (기록)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2240, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/execute",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ projectId: 'auto', projectName: $('Set Input').item.json.projectName, projectType: $('Set Input').item.json.projectType, taskType: 'write', instruction: $('Set Input').item.json.goal, context: { analysis: $('백박사 (분석)').item.json.output, plan: $('안수석 (기획)').item.json.output, weak_point: $('서 본부장 (검수)').item.json.output?.data?.weak_point, fix_instruction: $('서 본부장 (검수)').item.json.output?.data?.fix_instruction, retry_count: ($('서 본부장 (검수)').item.json.output?.data?.retry_count || 0) + 1 } }) }}"
      },
      "id": "han-retry",
      "name": "한강작가 (재작성)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2240, 540]
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Set Input", "type": "main", "index": 0 }]] },
    "Set Input": { "main": [[{ "node": "Pipeline Mode?", "type": "main", "index": 0 }]] },
    "Pipeline Mode?": {
      "main": [
        [{ "node": "Pipeline (All-in-One)", "type": "main", "index": 0 }],
        [{ "node": "서 본부장 (오케)", "type": "main", "index": 0 }]
      ]
    },
    "서 본부장 (오케)": { "main": [[{ "node": "백박사 (분석)", "type": "main", "index": 0 }]] },
    "백박사 (분석)": { "main": [[{ "node": "안수석 (기획)", "type": "main", "index": 0 }]] },
    "안수석 (기획)": { "main": [[{ "node": "한강작가 (창작)", "type": "main", "index": 0 }]] },
    "한강작가 (창작)": { "main": [[{ "node": "서 본부장 (검수)", "type": "main", "index": 0 }]] },
    "서 본부장 (검수)": { "main": [[{ "node": "Score >= 75?", "type": "main", "index": 0 }]] },
    "Score >= 75?": {
      "main": [
        [{ "node": "홍사서 (기록)", "type": "main", "index": 0 }],
        [{ "node": "한강작가 (재작성)", "type": "main", "index": 0 }]
      ]
    },
    "한강작가 (재작성)": { "main": [[{ "node": "서 본부장 (검수)", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{ "name": "ONS Studio" }]
}
